**/*backups*
/pcb/jlcpcb
README.md.bak
pcb/~_autosave-OpenSourceN64ExpansionPak.kicad_pcb.lck
pcb/_autosave-OpenSourceN64ExpansionPak.kicad_pcb
pcb/~OpenSourceN64ExpansionPak.kicad_pcb.lck
pcb/~OpenSourceN64ExpansionPak.kicad_sch.lck
